.header-search-wrap.pay {

    width: 500px !important;
    height: 575px !important;
    max-height: 90vh;
}

.profilarea {
    background-color: #df820b !important;
}
.cart-dropdown.open {
    z-index: 9999;
}
.spinner {
    margin: 200px 0;
    width: 56px;
    height: 56px;
    display: none;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }
.logoinfos {
    margin-top: 1%;
    margin-left: 24%;
}

.logoinfos h5,
.logoinfos p {
    margin: 0;
}

.icologo {
    position: absolute;
    left: 10%;
    top: 55%;
    height: 180px;
    width: 170px;
    background-color: black;
    border-radius: 5px;
    outline: 2px solid #df820b;
}

.icologo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

/* Media queries */

@media (min-width: 1024px) and (max-width: 1300px) {

    .logoinfos {
        margin-top: 3%;
        margin-left: 28%;
    }

}

@media (min-width: 1400px) {

    .logoinfos {
        margin-top: 1%;
        margin-left: 24%;
    }

    .icologo {
        position: absolute;
        left: 10%;
        top: 40%;

    }

}

@media (max-width: 768px) {

    /* Styles for screens smaller than 768px */
    .logoinfos {
        margin-top: 80px;
        margin-left: 0;
        text-align: center;
    }

    .icologo {
        
        position: absolute;
        top: 65%;
        left: 42%;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {

    /* Styles for screens smaller than 480px */
    .icologo {
        position: absolute;
        top: 20%;
        left: 30%;
    }

    .logoinfos {
        margin: 80px 0 0 0 !important;
        text-align: center;
    }
}

.lax-header-topnone {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.pm {
    text-align: center;
    width: 100% !important;
}

.header-search-modal .header-search-wrap.pay {
    padding: 30px 30px;
}

.product-content .inner {
    text-align: center;
}

.color-variant-wrappernone {
    display: none;
}

.cardbottom {
    padding-bottom: 100px;
}

.ct .container {
    padding: 0px !important;
    max-width: 1450px !important;
}

@media only screen and (min-width: 768px) {
    .ct .container .LaxMarket-newsletter-wrapper {

        padding: 150px 107px 150px;
    }

    .imaslide {
        margin-left: 100px;
    }
}

.ct .container .LaxMarket-newsletter-wrapper {

    border-radius: 0px !important;
}

.ct .container .poster-countdown-wrap {
    padding: 65px 120px;
    margin: 0px !important;
    border-radius: 0px !important;
}

.about-content.content-right,
.about-content.content-left {
    text-align: justify;
}

/* Responsive mobile */
@media only screen and (max-width: 767px) {
    .lax-header-top .container {
        display: none;
    }

    .lax-header-topnone {
        display: none;
    }

    .lax-header-top.rem {
        display: none;
    }

    .item-rating {
        display: none !important;
    }

    .main-slider-content {
        text-align: center;
    }

    .main-slider-content .subtitle {
        display: block !important;
    }

    .ct .container .poster-countdown-wrap,
    .LaxMarket-newsletter-wrapper.bg_image.bg_image--5 {
        padding: 60px 35px;
    }

    .lax-breadcrumb-area {
        padding: 50px 0 55px !important;
        ;
    }

    .st,
    .title-highlighter {
        display: block !important;
    }

    .lax-about-area .about-content .text-heading {
        font-size: 14px !important;
    }

    .dn {
        display: none;
    }

    .gmap_canvas iframe {
        width: 290px;
        height: 300px;
    }

    .contact-form,
    .contact-location,
    .opening-hour {
        text-align: center !important;
    }

    .lax-contact-page .contact-form p {
        width: 100% !important;
    }
}

.just {
    text-align: justify;
}